body {
display: flex;
flex-flow: column;
align-items: center;
}

#container {
    width: 528px;
    height: 528px;
}
div {
    float: left;
    width: 32.89px;
    height: 32.89px;
    border: 1px solid;
    box-sizing: border-box;
}

button {
    display: flex;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px 30px;
}